[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "submodules/tlsf"]
	path = submodules/tlsf
	url = https://github.com/mattconte/tlsf
[submodule "submodules/volk"]
	path = submodules/volk
	url = https://github.com/zeux/volk
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/VulkanMemoryAllocator"]
	path = submodules/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "submodules/cJSON"]
	path = submodules/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "submodules/SPIRV-Reflect"]
	path = submodules/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "submodules/cgltf"]
	path = submodules/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
